name: ci
on:
  pull_request:
    branches:
      - main
  workflow_dispatch:


jobs:
  test:
    name: Test on ${{ matrix.os }}
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ ubuntu-latest, ubuntu-24.04-arm,  windows-latest, macos-latest, macos-15-intel ]

    steps:
      - name: Checkout code
        uses: actions/checkout@v6

      - name: Install Hatch
        uses: pypa/hatch@install
        with:
          version: '1.15.1' #TODO: remove this when hatch > 1.16.2 is released

      - name: Run tests
        run: hatch test -- -s
